body {
  background: #000;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tapir {
  width: 620px;
  height: 515px;
  color: #101114;
  background: #fff;
}
.tapir__inner {
  display: flex;
}
.tapir__links {
  padding: 42px 13px 45px 32px;
  width: 231px;
  height: 515px;
  background: rgba(1, 1, 1, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tapir-item {
  margin-bottom: 20px;
  position: relative;
}
.tapir-item > a {
  transition: all 0.2s;
}
.tapir-item :hover {
  color: #FFFFFF;
}
.tapir-item :focus {
  color: #FFFFFF;
}
.tapir-item__link {
  position: relative;
  z-index: 2;
  color: #959595;
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
}
.tapir__form {
  width: 389px;
  height: 515px;
  padding: 37px 34px 34px;
}

.active > a {
  color: white;
}
.active::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -32px;
  width: 230px;
  height: 37px;
  z-index: 1;
  background: #101114;
}

.form__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 15px;
}

.form__info {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #959595;
  margin-bottom: 35px;
}
.form__info-titles {
  margin-right: 35px;
}
.form__info-nums {
  color: #101114;
}

.form-card {
  margin-bottom: 23px;
}

.form-card__title,
.card__owner__title,
.card__timeout-title,
.card__cvc-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 11px;
}

.input,
.select {
  background: #F0F0F0;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: none;
}

option {
  padding: 10px;
}

.select {
  width: 70px;
  height: 39px;
  appearance: none;
  background-position: calc(100% - 12px) center !important;
  background: url("./assets/down-arrow.png") no-repeat;
  background-color: #F0F0F0;
  text-align: start;
  padding-left: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #101114;
}

.card__digits {
  display: flex;
}
.card__digits > input {
  width: 70px;
  height: 39px;
  margin-right: 14px;
}

.card__owner {
  margin-bottom: 23px;
}

.card__owner-input {
  text-align: start;
  padding: 12px 14px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.card__owner-input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #959595;
}

.card__timeout-select__month {
  margin-right: 10px;
}

.card__subinfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.card__cvc-input {
  text-align: start;
  padding-left: 15px;
  width: 70px;
  height: 39px;
}

.card__submit-btn {
  cursor: pointer;
  width: 100%;
  height: 45px;
  border: none;
  left: 584px;
  top: 641px;
  background: #4253FF;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13.2px;
  line-height: 17px;
  color: #fff;
  margin-bottom: 6px;
}

.validation__error,
.validation__success {
  display: none;
  font-size: 12px;
  width: 100%;
  font-weight: 600;
  text-align: center;
}

.validation__error {
  color: #ff5047;
}

.validation__success {
  color: green;
}

@media (max-width: 767px) {
  .tapir {
    height: auto;
    margin: 0 10px;
  }
  .tapir__inner {
    display: block;
  }
  .tapir__links {
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 80px;
    flex-direction: row;
  }
  .tapir__links-list {
    display: flex;
  }
  .tapir-item {
    text-align: center;
    margin-bottom: 0;
    margin-right: 7px;
  }
  .tapir__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .active::before {
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .tapir__logo {
    display: none;
  }
  input.card__digits-input {
    margin-right: 0;
  }
  input.card__digits-input + input.card__digits-input {
    margin-left: 5px;
  }
  .card__digits {
    justify-content: space-between;
  }
  .form__title {
    text-align: center;
  }
  .card__submit-btn {
    margin-bottom: 15px;
  }
}
@media (max-width: 420px) {
  input.card__digits-input {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
